<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>ah</div>

    <script src="/home/m4rc3l0/dev/estudos-js/curso-js/node+express/A.124-147/a-136/frontEnd/main.js"></script>
  </body>
</html>
