<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Sua Página EJS</title>
    <!-- Outras meta tags, scripts, estilos, etc. vão aqui -->
  </head>
  <body>
    <h1>Exemplo de Página EJS</h1>

    <form action="/" method="post">
      <label for="name"></label>
      <input type="text" name="name" id="useNme" />

      <button>enviar</button>
    </form>

    <script src="../../public/js/bundle.js"></script>
  </body>
</html>
